.form {
    width: 610px;
    max-width: 610px;
    padding: 50px;
    background: white;
    color: #222222;
}

.form__cell {
	position: relative;
    margin-bottom: 20px;
}

.form__cell_size_small,
.form__cell_size_medium {
	display: inline-block;
    vertical-align: top;
}

.form__cell_size_small {
	width: 100px;
	margin-right: 20px;
}

.form__cell_size_medium {
	width: 150px;
	margin-right: 20px;
}

.form__cell_half {
	display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 50%;
}

.form__cell_half:nth-child(even) {
    padding-left: 10px;
}

.form__label {
	display: block;
    margin-bottom: 10px;
    color: #4a4a4a;
    font-weight: 300;
}

.form__note {
	margin-bottom: 2em;
    color: #4a4a4a;
    width: 330px;
    margin-top: 5px;
	line-height: 18px;
    font-size: 12px;
	display: inline-block;
}

.form__buttons {
	float: left
}

.form__buttons_topPadding {
	padding-top: 10px;
}

.form__buttons_pos_right {
	float: right
}
