body {
	margin: 0;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    height: 100%;
    background: #e0ebfc url(https://static4.rocket-cdn.ru/assets/blocks/common/signup-bg-04b9db48639ab3cc10bb6a4afe495257.jpg) no-repeat;
    background-size: cover;
}
